<footer class="footer-container">
  <div class="footer-left">
    <p>© 2025 Marcela Campos</p>
  </div>

  <div class="footer-right">
    <div class="contact-item">
      <span class="contact-label">CALL</span>
      <div class="contact-info">
        <img src="/fone.png" alt="Phone Icon" class="phone-icon">
        <span>+55 (31) 997061540</span>
      </div>
    </div>
    <div class="contact-item">
      <span class="contact-label">E-MAIL</span>
      <div class="contact-info">
        <a href="mailto:thismail@gmail.com">marcelacamposm2@gmail.com</a>
      </div>
    </div>
  </div>
</footer>