<header class="game-hud">
    <div class="hud-section player-info">
        <div class="player-text">
            <p>CECELA</p>
            <p>0101001</p>
        </div>
        <div class="hearts-container">
            <img src="/CoracaoPixel.png" alt="Coração">
        </div>
    </div>

    <div class="hud-section item-counter">
        <img class="icon" src="/MoedaPixel.png" alt="Moeda">
        <span>x 00</span>
    </div>

    <div class="hud-section page-info">
        <p>PAGE</p>
        <p>0-4</p>
    </div>

    <div class="hud-section timer">
        <span>00:01</span>
    </div>
</header>