body {
    /* O caminho agora começa com /assets/ */
    background-image: url('/InterfaceInicial.png');

    /* O resto das propriedades continua igual */
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}